<%= form_for @pricing, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :month, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :month, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :time_period, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :time_period, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rate, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rate, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      Active
      <%= f.radio_button :status, true %>
      Inactive
      <%= f.radio_button :status, false %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      pricings_path, :class => 'btn' %>
  </div>
<% end %>
