<%= form_for @banking, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="control-group">
    <%= f.label :name, "Bank Name", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :account_no, "Account Number", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :account_no, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :country, :class => 'control-label' %>
    <div class="controls">
      <%=  country_select("banking", "country", [ "United Kingdom", "France", "Germany" ], {:prompt=> 'Please select a country'}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :zip_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :zip_code, :class => 'number_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      Active
      <%= f.radio_button :status, true %>
      Inactive
      <%= f.radio_button :status, false %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      bankings_path, :class => 'btn' %>
  </div>
<% end %>
