<%- model_class = Banking -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @banking.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:account_no) %>:</strong></dt>
  <dd><%= @banking.account_no %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address1) %>:</strong></dt>
  <dd><%= @banking.address1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address2) %>:</strong></dt>
  <dd><%= @banking.address2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @banking.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @banking.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
  <dd><%= @banking.country %></dd>
  <dt><strong><%= model_class.human_attribute_name(:zip_code) %>:</strong></dt>
  <dd><%= @banking.zip_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <% if @banking.status %>
    <dd>Active</dd>
  <% else %>
    <dd>Inactive</dd>
  <% end %>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
    bankings_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
    edit_banking_path(@banking), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
    banking_path(@banking),
    :method => 'delete',
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :class => 'btn btn-danger' %>
</div>
