<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "Tax Advisor" %></title>
<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Tax Advisor" %>">
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag :defaults, "nested_form" %>
<%= csrf_meta_tags %>
<%= yield(:head) %>