<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head_tag_element" %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <img src="/assets/logo.png"   style="height:50px;width:100px;" />
        </div>
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>

    <div id="main" role="main">
      <div class="container" id="container">
        <div class="content">
          <div class="row">
            <div class="span12">
              <%= yield :header_image %>
            </div> 
            <div class="span12" id="rotate"  style="background:#f0f0f0;color:red;margin-top: 3px;margin-bottom: 3px;padding-top:3px;padding-bottom:3px;">
              <marquee id="FutureMarquee" onmouseup="this.style.cursor=" default''="" onmouseover="this.stop();" onmouseout="this.start();" truespeed="truespeed" scrollamount="1" scrolldelay="20" width="100%" style="font-weight:bold;color:#000; padding-top:2px; display:block;"> Market Pundit Money Making Mantra <strong style="color:green">|</strong> Market Pundit Money Making Mantra <strong style="color:green">|</strong> Market Pundit Money Making MantraMarket Pundit Money Making Mantra <strong style="color:green">|</strong> Market Pundit Money Making Mantra <strong style="color:green">|</strong> Market Pundit Money Making Mantra</marquee>
            </div>
          </div>
          <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
            <%= render "layouts/footer" %>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->

  </body>
</html>